# SPDX-FileCopyrightText: 2021 Alliander N.V.
#
# SPDX-License-Identifier: Apache-2.0

# Output directory
target

# IDE specific
.idea
*.iml

# Data Directories for Docker Compose
# Ignore all files, except the README.md
compas/data/**/*.*
!compas/data/**/README.md